@import "~bootstrap/scss/bootstrap";
@import "./styles/custom-colors.scss";

$custom-colors: (
"custom-purple": ($custom-purple),
"custom-purple-darker": ($custom-purple-darker)
);

.link{
    text-decoration: none;
    color: rgb(0, 0, 0);
}